Rails.application.config.dfile_paths = {
	"PROCESSING" => "/path/to/processing/folder/",
	"PACKAGING" => "/path/to/packaging/folder/",
	"STORE" => "/path/to/store/folder/"
}
Rails.application.config.api_key = "test_key"