production:
  host: app-production-2.ub.gu.se
  port: 22
  user: apps
  path: '/apps/dfile'

staging:
  host: app-staging-2.ub.gu.se
  port: 22
  user: apps
  path: '/apps/dfile'

lab:
  host: app-lab-2.ub.gu.se
  port: 22
  user: apps
  path: '/apps/dfile'
